* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e0e5e9;
}

.checkbox {
  position: absolute;
  left: -9999px;
}

.checkbox ~ .show-window {
  visibility: visible;
}

.checkbox ~ .content {
  visibility: hidden;
}

.checkbox ~ .content .content__close-window {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.checkbox:checked ~ .show-window {
  visibility: hidden;
}

.checkbox:checked ~ .content {
  -webkit-animation-name: appearance;
  -o-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  visibility: visible;
}

.show-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.25rem;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #8e9ba6;
  text-align: center;
  background-color: #192c3d;
  visibility: visible;
}

.show-window:hover {
  background-color: #274662;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 3rem;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  min-width: 300px;
  max-width: 600px;
  padding: 2.5rem;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #8e9ba6;
  background-color: #192c3d;
  visibility: hidden;
}

.content__close-window {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0 0.25rem 0.35rem;
  font-size: 1.25rem;
  line-height: 0.9rem;
  border: 1px solid #8e9ba6;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.content__close-window:hover {
  color: #192c3d;
  background-color: #8e9ba6;
  cursor: pointer;
}

.content__text {
  line-height: 1.8rem;
}

.content__text--bold {
  margin-top: 1.5rem;
  font-weight: 400;
  text-align: center;
}

@-webkit-keyframes appearance {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    top: 3rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
  }
}

@-o-keyframes appearance {
  0% {
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    top: 3rem;
    left: 50%;
    -o-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes appearance {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    top: 3rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0) scale(1);
    -o-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
  }
}
